<!-- app/views/users/show.html.erb -->

<div class="align-edit container">

<div class="row">
  <div class="col-md-8">
    <h3><u>User details</u></h3>

    <div class="showspacing">
      <b>Profile Image</b><br>
      <%= image_tag(current_user.profilepic.url) %>
    </div>

    <div class="showspacing font">
      <b>Name:</b> <%= @user.name %>
    </div>

    <div class="showspacing font">
      <b>E-mail:</b> <%= @user.email %>
    </div>

    <div class="showspacing font">
      <b>Address:</b> <%= @user.address %>
    </div>

    <div class="showspacing font">
      <b>Postcode:</b> <%= @user.postcode %>
    </div>

    <div class="showspacing font">
      <b>State:</b> <%= @user.state %>
    </div>

    <div class="showspacing font">
      <b>Country:</b> <%= @user.country %>
    </div>

    <div class="showspacing">
      <%= link_to edit_user_registration_path, class: 'btn btn-success' do %>
        Edit User
        <% end %>
    </div>

    <div class="superspacing">
      <%= render partial: 'subscriptions/show', locals: {subscription: @subscription} %>
    </div>
   
  </div>
</div>