<!-- app/views/users/show.html.erb -->

<%= stylesheet_link_tag    "userpage", media: "all", "data-turbolinks-track" => true %>


<div class="align-edit container">

<div class="row">
  <div class="col-md-8">
    <h3>User details</h3>

    <div class="showspacing">
      <b>Profile Image</b><br>
      <%= image_tag(current_user.profilepic.url) %>
    </div>

    <div class="showspacing font">
      <b>Name:</b> <%= current_user.name %>
    </div>

    <div class="showspacing font">
      <b>E-mail:</b> <%= current_user.email %>
    </div>

    <div class="showspacing font">
      <b>Address:</b> <%= current_user.address %>
    </div>

    <div class="showspacing font">
      <b>Postcode:</b> <%= current_user.postcode %>
    </div>

    <div class="showspacing font">
      <b>State:</b> <%= current_user.state %>
    </div>

    <div class="showspacing font">
      <b>Country:</b> <%= current_user.country %>
    </div>

    <div class="showspacing">
      <%= link_to edit_user_registration_path, class: 'btn btn-success' do %>
        Edit User
        <% end %>
    </div>
   
  </div>
</div>