<!-- app/views/wikis/_form.html.erb -->

<%=form_for [wiki] do |f| %>
  <% if wiki.errors.any? %>
    <div class="alert alert-danger">
      <h4> There are <%= pluralize(wiki.errors.count, "error") %>.</h4>
      <ul>
        <% wiki.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Wiki Name" %>
    <%= f.text_field :name, class: 'form-control', placeholder: "Enter wiki name" %>
  </div>

  <div class="form-group">
    <div id="epiceditor"></div>

    <%= f.text_area :body, class: 'form-control hidden' %>
  </div>

  <div class="form-group">
    <%= f.submit "Save wiki", class: 'btn btn-success' %>
  </div>
<% end %>

  <div class="superspacing">

    <p>Add Collaborators to <%= wiki.name %> Wiki (showing all users)</p>

    <%= form_for(@wiki) do %>
      <table class="table spacing">

        <tr>
          <td><b>Name</b></td>
          <td><b>Email</b></td>
          <td><b>Give Access</b></td>
        </tr>


        <% user.each do |user| %>
          <tr>
            <td> <%= user.name %></td>
            <td> <%= user.email %></td>
            <td> 
              <div class="checkbox">
                <%= hidden_field_tag 'wiki[collaborator_ids][]', nil %>
                <%= check_box_tag 'wiki[collaborator_ids][]', user.id, @wiki.collaborator_ids.include?(user.id), id: dom_id(user) %> 
                <%= label_tag dom_id(user), "Add User" %>
              </div>
            </td>
          </tr>
        <% end %>

      </table>    
      <%= submit_tag 'Share' %>
    <% end %>