<!-- app/views/pages/new.html.erb -->

<h1> Create a new Wiki </h1>

<p> Enter your new wiki details </p>

<%= form_for [@wiki] do |f| %>
  <% if @wiki.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @wiki.errors.full_messages each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'Wiki Name:' %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Enter new wiki name' %>
  </div>

  <% if current_user.can_create_private_wiki? %>
    <div class="checkbox">
      <%= f.label "Public wiki", class: 'checkbox' do %>
        <%= f.check_box :public %> Public Wiki
      <% end %>
  <% else %>
    <div class="checkbox" disabled="disabled" checked="checked">
      <%= f.label "Public wiki", class: 'checkbox' do %>
        <%= f.check_box :public, disabled: true, checked: true %> Public Wiki
      <% end %>
    </div>
    <div class="spacing">
      <p>
        Want to make your Wiki private? Be a premium user today!<br>
        Your subscription will help us keep our servers running and food on our plate!<br>
        Thanks in anticipation!<br>
        <%= link_to "I'd like to be a Premium user!", new_subscription_path, class: 'btn btn-info' %>
      </p>
    </div>
  <% end %>

  <div class="form-group showspacing">
    <%= f.submit "Create new wiki", class: 'btn btn-success' %>
  </div>
<% end %>