<div class="align-edit container">
  <div class="row">
    <div class="col-md-6">
      <%= form_tag( { controller: 'subscriptions', action: 'update_payment_details' }, method: 'post', class: 'form-horizontal', id: 'update_payment_details') do %>
    
      <div class='form-group'>
        <%= label_tag :number, 'Card Number' %> 
        <%= text_field_tag :number, nil, class: 'form-control', placeholder: 'We accept Visa, MasterCard, AMEX and Discover' %>
      </div>

      <div class='form-group'>
        <%= label_tag :cvc, 'Security Code' %>
        <%= text_field_tag :cvc, nil, class: 'form-control', placeholder: 'The code on the back of your card (CVC)' %>
      </div>

      <div class='spacing'>
        <%= label_tag :exp_month, 'Expiration Date' %>
      </div>
      <div class='form-group'>
        <div class='col-md-6'>
          <%= select_month nil, { add_month_numbers: true }, { id: 'exp_month', class: 'form-control' } %>
        </div>
        
        <div class='col-md-6'>
          <%= select_year nil, { start_year: Date.today.year, end_year: Date.today.year+15 }, { id: 'exp_year', class: 'form-control' } %>
        </div>
      </div>

      <div class='superspacing form-group'>
          <%= submit_tag 'Update', class: 'btn btn-success' %>
      </div>

    <% end %>
    </div>
  </div>
</div>