<% if current_user.subscribed == true %>

  <h1><u> Subscription Plan </u></h1>
  <p> You are currently subscribed to our <%= subscription.plan.name %> </p>
  <p> The card you are using to pay for this subscription is <b><%= subscription.cardname %> <%= subscription.last4 %></b></p>

  <%= link_to 'Edit subscription options', edit_subscription_path, class: 'btn btn-success' %>

<% else %>

  <h1> You're not in any subscription plan. </h1>
  
  <%= link_to 'Choose a subscription plan', new_subscription_path, class: 'btn btn-success' %>

<% end %>