<h1> Edit Subscription Plan </h2>

<p><b> Change your subscription plan here </b></p>
<table class="borderless">
  <tr>
    <% @plans.each do |plan| %>
      <td align="center">
      <p><%= plan.name %></p>
      <%= form_tag( { controller: 'subscriptions', action: 'update_subscription_plan'}, method: 'post') do %>
        <%= submit_tag 'Choose Plan', class: 'btn btn-success' %>
        <%= hidden_field_tag :plan_id, plan.id %>
      <% end %>
      </td>
    <% end %>
  </tr>
  <tr>
    <td align="center">
      <p> Billed annually at $110 per year <br>
          Save 20%! <br>
          Allows you to create private wikis
      </p>
    </td>
    <td align="center">
      <p> Billed monthly at $10 per month <br>
           Allows you to create private wikis
      </p>
    </td>
</table>  

<div class="superspacing">
  <p><b> Change your payment details here </b></p>
</div>

<div class="superspacing">
  <%= render partial: 'edit_payment_details' %>
</div>

<div class="superspacing">
  <p><b> Decided to cancel your subscription? We'll be sorry to see you go! </b></p>
  <%= render partial: 'cancel' %>
</div>