<% if @subscription.plan.present? %>

  <h1> You're subscribed! </h1>
  <p> You are currently subsribed to our <%= "#{name}" %> </p>

  <%= link to 'Edit subscription options', edit_subscription_path, class: 'btn' %>

<% else %>

  <h1> You'r not in any subscription plan. </h1>
  
  <%= link_to 'Choose a subscription plan', new_subscription_path, class: 'btn' %>

<% end %>

<h2> Payment Information </h2>

<p> The last 4 digits of the card you are using to pay for this subscription is <%= @subscription.last_four %></p>
<%= link_to "Update payment information", edit_subscription_path, class: 'btn' %>